/*
Wildflower CMS main stylesheet
 
Colors
======
#2f2f2f - Ligter Black - Main type color
#e2e2e2 - Light Grey - Non-content background 
#0033CC - Link Blue - Hyperlinks
*/

html,
body {
    margin: 0;
	padding: 0;
}

/* Layout */

html {
	font: 12px/16px "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif; /* Lucida Grande works best on OS X, Tahoma is very similar and a system font on Windows */
	background: #e2e2e2;
	color: #2f2f2f;
}

a {
    color: #0033CC;
    text-decoration: underline;
}

a:focus {
    outline: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0033CC;
}

img {
    border: none;
}

#wrap,
#footer,
#header-wrap {
    padding: 0 30px;
}

#wrap {
    color: #2f2f2f;
    min-width: 870px;
}

#footer {
    margin: 0;
    padding: 0 30px 14px;
    font-size: 10px;
}

    #footer a {
        color: #686868;
        text-decoration: none;
    }

#header {
    background: #324c60;
    overflow: hidden;
}

    #header a {
        color: #eee;
    }
    
    #header a:hover,
    #footer a:hover {
        background-color: #606060;
        color: #fff;
    }

#header-wrap {
    position: relative;
}

#site-title {
    font-size: 16px;
    font-weight: normal;
    margin: 15px 10px;
}

    #site-title a {
        text-decoration: none;
    }
    
#nav {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
}

    #nav li {
        float: left;
    }
    
    #nav a {
        display: block;
        height: 12px;
        margin: 0 3px 0 0;
        padding: 4px 9px 9px 9px;
        background-color: #7f7f7f;
        color: #fff;
        text-decoration: none;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        border-radius: 3px 3px 0 0;
    }
    
        #nav .current a,
        #nav .current a:hover {
            color: #1d1d1d;
            background-color: #e2e2e2;
            font-weight: bold;
        }
        
    #nav a:hover {
        color: #1d1d1d;
        background-color: #e2e2e2;
    }

#login-info {
    float: right;
    position: relative;
    top: -30px;
}

#content {
    float: left;
    width: 70%;
    position: relative;
    margin: 12px 0 8px 0;
    background: #fff;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}

#content-pad {
    padding: 20px 25px 35px;
    border: 3px solid #cecece;
    border-right-color: #d5d5d5;
    border-width: 0 3px 3px 0;
    min-height: 300px;
}

.cleaner {
    clear: both;
    height: 1px;
    margin-top: -1px;
    display: block;
}
    
    #wrap a.add {
        background: url(img/sidebar-button.png) 0 0 no-repeat;
        height: 40px;
        padding: 0 0 0 14px;
        display: inline-block;
        color: #2f2f2f;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        font-weight: bold;
    }
    
        #wrap a.add span {
            padding: 11px 20px 12px 0;
            margin: 0 0 0 20px;
            display: block;
            background: url(img/sidebar-button.png) top right no-repeat;
        }
        
        #wrap a.add:hover {
            color: #2c4d66;
        }
        
    #sidebar h4.add {
        background: url(img/add.png) center left no-repeat;
        padding: 0 0 0 21px;
        font-size: 13px;
    }
    
    #sidebar a.add + a.add {
        margin-top: 7px;
    }
    
        
/* Headings */

h2 {
    font-weight: normal;
    font-size: 17px;
    margin: 18px 0 12px 0;
}

.section {
    margin: -20px -25px 14px;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    background: #e8f5f1;
    border-bottom: 1px solid #eee;
}

#full-edit-back-link {
    margin: 2px 0;
    display: block;
    padding: 5px;
}


/* Form elements */

input,
textarea,
select {
    font-size: 12px;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.input {
    padding: 8px 0;
    margin: 0;
}

#WildPostCreatedYear,
#WildPageCreatedYear {
    margin-right: 10px;
}

    .horizontal-form label {
        display: block;
        float: left;
        width: 80px;
        text-align: right;
        padding: 3px 8px 0 0;
    }
    
    .horizontal-form .input {
        overflow: hidden;
    }
    
.horizontal-form-buttons {
    padding: 14px 0 0 90px;
}

    .editor-form label {
        text-transform: uppercase;
        font-size: 11px;
    }
    
.mceEditor {
    margin-bottom: 8px;
    display: block;
}

.title-input {
    padding-top: 0;
    margin: -7px 0 -7px;
}
    
    .title-input input {
        font-size: 18px;
        width: 99%;
    }


/* Messages & errors */

#flashMessage {
    color: #fff;
    background: #3b8f30;
    border: 1px solid #62e350;
    padding: 5px;
    margin: 0 0 14px 0;
}

.error-message {
    color: #650000;
}
        

/* Sidebar */

#sidebar {
    float: right;
    width: 30%;
    margin: 5px 0 0 0;
}

    #sidebar ul {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    
    #sidebar .input {
        padding: 0;
    }

    #sidebar > ul > li {
        margin: 0;
        padding: 8px 14px;
    }
    
    #sidebar > ul > li:last-child {
        border-bottom: none;
    }

.sidebar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    left: -14px;
}        

    #sidebar .sidebar-menu li {
        margin: 0;
        padding: 0;
    }
    
    .sidebar-menu a {
        display: block;
        padding: 4px 4px 4px 24px;
    }
    
    #sidebar .sidebar-menu a.current {
        color: #fff;
        text-decoration: none;
        background-color: #6f6f6f;
    }
    
.sidebar-menu-alt {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-menu-alt li {
        margin: 0 0 5px;
        padding: 0;
    }
    
    .sidebar-menu-alt a {
        display: block;
        color: #2f2f2f;
        background: #d2d2d2;
        padding: 5px 10px;
        text-decoration: underline;
    }
    
    .sidebar-menu-alt a:hover {
        text-decoration: none;
        background-color: #969696;
        color: #fff;
    }
    
    /* Sidebar box */
    
    #sidebar .sidebar-box {
        background-color: #f5f5f5;
        border: 2px solid #cbcbcb;
        border-width: 0 2px 2px 0;
        border-bottom-color: #c0c0c0;
        padding: 12px;
        margin: 8px 0 6px 10px !important;
    }

    #sidebar .sidebar-box:last-child {
        border-bottom: 2px solid #c0c0c0;
    }

    .sidebar-box h4 {
        margin: 0 0 6px 0;
        font-size: 12px;
        font-weight: bold;
    }
    
    .sidebar-box .input {
        margin: 10px 0;
    }
    
    .sidebar-box .submit {
        margin-top: 16px;
    }
    
        .sidebar-box .input input {
            width: 96%;
            font-size: 12px;
        }
        
        .sidebar-box .submit input,
        .sidebar-box select {
            font-size: 12px;
        }
    
.edited-item-link {
    font-size: 14px;
    line-height: 17px;
}    

    /* Sidebar search */

        #sidebar .search .input {
            margin-bottom: 0;
        }
        
        #sidebar .search label {
            font-weight: bold;
        }
        
        #sidebar .search input {
            width: 99%;
            margin: 2px 0 0 0;
            display: block;
            font-size: 14px;
            padding: 2px;
        }

#sidebar-search-results {
    list-style: none;
    margin: 0;
    padding: 0 !important;
}

    #sidebar-search-results li {
        margin: 0;
        padding: 0;
    }
    
    #sidebar-search-results a {
        display: block;
        padding: 3px 6px;
        background: #0033CC;
        color: #fff;
        text-decoration: none;
    }
    
/* Select actions */

.select-actions {
    padding: 4px 6px;
    background-color: #fffde0;
    border: 1px solid #fffcbd;
    display: none; /* JS shows/hide this */
}

    .select-actions a,
    .select-actions a:hover {
        color: #d80019;
        background-color: transparent;
    }
    
    .select-actions span {
        text-align: right;
        float: right;
        position: relative;
        top: -16px;
    }
    
        .select-actions span a,
        .select-actions span a:hover {
            color: #606060;
        }
    
.selected {
    background-color: #fffde0;
}    

.trash {
    background: url(img/cross.png) 0 0 no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

    .trash span {
        display: none;
    }
    
    .trash:hover {
        background-color: transparent;
    }
        
/* List of posts */

#show-posts {
    display: none; /* hide for now */
    position: absolute;
    top: 18px;
    right: 10px;
}

.list-of-posts {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .list-of-posts li {
        border-bottom: 1px solid #e0e0e0;
        padding: 3px 0 5px;
        margin: 0;
        position: relative;
    }
    
    .list-of-posts li:first-child {
        border-top: 1px solid #eee;
    }
    
.title-row {
    font-size: 14px;
    display: block;
    margin: 0 0 0 24px;
}

.row-check {
    float: left;
    display: block;
    height: 100%;
}

.draft-status {
    font-size: 11px;
    font-weight: bold;
    border: none;
}

.row-actions {
    position: absolute;
    top: 4px;
    right: 4px;
    display: none;
    font-size: 12px;
}

.post-date {
    font-size: 10px;
    color: #535353;
    margin: 0 0 0 3px;
    padding: 4px 0 0 0;
    display: block;
    float: left;
}

.post-categories,
.post-comments {
    color: #535353;
    margin: 0;
    padding: 4px 0 0 30px;
    background: url(img/tag_yellow.png) 10px 4px no-repeat;
    font-size: 11px;
    float: left;
}

    .post-date a,
    .post-categories a,
    .post-comments a {
        color: #535353;
        text-decoration: none;
    }
    
    .post-date a:hover,
    .post-categories a:hover,
    .post-comments a:hover {
        background-color: #535353;
        color: #fff;
    }
    
.post-comments {
    background-image: url(img/comment.png);
}
   
.permalink,
.edit-sections .permalink {
    background: transparent url(img/link.png) 0 0 no-repeat;
    padding-left: 18px;
} 

    .sidebar-menu .permalink {
        padding-left: 31px;
        background-position: 12px 5px;
    }

.paginator {
    margin: 2em 0 1em;
}

    .paginator > div,
    .paginate-prev,
    .paginate-next {
        float: left;
        margin-right: 1.2em;
    }
    
.disabled {
    color: #606060;
}

#posts-feed {
    background-image: url(img/rss-coffee.png);
    background-position: 9px 5px;
    background-repeat: no-repeat;
    padding-left: 32px;
}
    
    
/* Post edit */

#save-preview {
    display: none; /* Preview does not work yet */
}

#save-draft,
#save-publish,
#save-preview,
.save-section,
.wf-form-button {
    float: left;
    margin-right: 6px;
}

    #save-draft input,
    #save-publish input,
    #save-preview input,
    .save-section input,
    .wf-form-button input {
        font-size: 13px;
    }
    
.cancel-edit {
    padding: 2px 0 0 0;
    display: block;
}
    
    .cancel-edit a,
    .cancel-edit a:hover,
    a.cancel,
    a.cancel:hover {
        color: #d80019;
        background-color: transparent;
    }
    
#post-categories,
#post-options,
#post-revisions,
#post-preview {
    display: none;
}

.category-list {
    margin: 14px 0;
    padding: 0;
    list-style: none;
}

    .category-list ul,
    .category-list li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .category-list ul {
        margin-left: 17px;
    }
    
    .category-list .trash {
        visibility: hidden;
    }
    
    .category-list label:hover .trash {
        visibility: visible;
    }

    .checkbox-list label {
        position: relative;
        top: -2px;
        left: -3px;
    }    
    
    #post-preview object {
        width: 100%;
        height: 400px;
        margin: 0 0 14px 0;
        border: 6px solid #fffde0;
    }
    
.back-to-all {
    font-weight: bold;
}

.post-info {
}

.edit-sections {
    list-style: none;
    margin: -10px 0 14px -10px;
    padding: 0;
    overflow: hidden;
}

    .edit-sections li {
        margin: 0;
        padding: 0;
        float: left;
    }
    
    .edit-sections a {
        display: block;
        padding: 2px 6px;
        border-right: 1px solid #dadada;
    }
    
    .edit-sections li:last-child a {
        border-right: none;
    }
    
    .edit-sections a.current {
        background-color: #f0f0f0;
        color: #2f2f2f;
        text-decoration: none;
    }
    
    .edit-sections .permalink {
        background-position: 4px 3px;
        padding-left: 22px;
    }


/* Pages */

.pages-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
}

    .pages-list ul {
        list-style: none;
        margin: 0;
        padding-left: 18px;
    }
    
    .pages-list li {
        position: relative;
        border: none !important;
        padding: 0 !important;
    }
    

/* Assets */

    #file-upload .file {
        float: left;
    }
    
    #file-upload p {
        clear: both;
    }
    
        #file-upload .submit input {
            margin: 16px 0 0 10px;
            font-size: 13px;
        }
        
        
/* Image browser (image insert) */

#image-browser {
}

    #image-browser ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    #image-browser li {
    }
    
    #image-browser button {
        margin-top: 10px;
    }
    
    #image-browser .selected {
    }
    
    
/* Reorder list */

    .reorder-list .item {
        border: 1px solid #a5a5a5;
        background-color: #b3b3b3;
        cursor: move;
        display: inline;
    }
    
    .reorder-list li {
        display: block;
    }
    
#jTreeHelper {
    width: 200px;
    margin: 0;
    padding: 0;
}

#jTreeHelper li {
    display: inline;
}


/* Write new dialog */

.new-dialog {
    background: #e8fbff;
    padding: 20px;
    border: 1px solid #a9d7df;
}

    .new-dialog h2 {
        margin-bottom: 0;
    }
    
    .new-dialog .select {
        margin-bottom: 14px;
    }
    
.all-page-parents {
    display: none;
}


/* File list */

.actions-handle {
    position: relative;
}

.file-list,
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .file-list li,
    .list li {
        margin: 0;
        padding: 4px 0;
        border-bottom: 1px solid #e0e0e0;
        overflow: hidden;
    }

    .file-list .thumbnail,
    .list .thumbnail {
        float: left;
        margin: 0 10px 0 5px;
        display: block;
    }
    
    .file-list img,
    .list img {
        display: block;
    }
    
    .file-list h3,
    .list h3 {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
