/*
    Wildflower CMS main stylesheet

*/

html,
body {
    margin: 0;
	padding: 0;
}

/* Layout */

html {
	font: 12px/16px "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #003842;
	color: #fff;
}

a {
    color: #0033CC;
    text-decoration: underline;
}

a:focus {
    outline: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0033CC;
}

img {
    border: none;
}

body {
}

#whiteness {
    background: #fff;
}

#wrap,
#footer,
#header {
    max-width: 1000px;
    min-width: 800px;
    margin: 0 auto;
}

#wrap {
    background: #fff;
    color: #2f2f2f;
    padding: 1px 0 0 0;
}

#footer {
    margin-top: 10px;
}

    #footer a {
        color: #ddd;
    }

    #header a {
        color: #e0e0e0;
    }
    
#nav {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
}

    #nav li {
        float: left;
    }
    
    #nav li.nav-accounts,
    #nav li.nav-settings {
        float: right;
    }
    
    #nav a {
        display: block;
        height: 12px;
        margin: 0 4px 0 0;
        padding: 3px 10px 8px 10px;
        background: #e4e4e4;
        color: #1d1d1d;
        text-decoration: none;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }
    
        #nav .current a {
            background-color: #fff;
            font-weight: bold;
        }
    
#header {
    position: relative;
}

    #header h1 {
        font-size: 20px;
        font-weight: normal;
        margin: 20px 10px;
    }
        
        #header h1 a {
            text-decoration: none;
        }

#login-info {
    position: absolute;
    top: -10px;
    right: 9px;
}

#content {
    padding: 20px 10px;
    float: left;
    width: 65%;
    position: relative;
}

.cleaner {
    clear: both;
    height: 1px;
    margin-top: -1px;
    display: block;
}
    
    #wrap a.add {
        background: url(img/sidebar-button.png) 0 0 no-repeat;
        height: 40px;
        padding: 0 0 0 0;
        display: inline-block;
        color: #01591e;
        font-size: 14px;
        text-decoration: none;
    }
    
        #wrap a.add span {
            padding: 12px 20px 12px 0;
            margin: 0 0 0 20px;
            display: block;
            background: url(img/sidebar-button.png) top right no-repeat;
        }
    
        
/* Headings */

h2 {
    font-weight: normal;
    font-size: 17px;
    margin: 18px 0 12px 0;
}

.section {
    margin-top: 0;
}


/* Form elements */

.input {
    margin-bottom: 14px;
}


/* Messages & errors */

#flashMessage {
    color: #fff;
    background: #3b8f30;
    border: 1px solid #62e350;
    padding: 5px;
    margin: 0 0 14px 0;
}

.error-message {
    color: #650000;
}
        

/* Sidebar */

#sidebar {
    margin: 10px 0;
    padding: 6px 0 0;
    list-style: none;
    background: url(img/sidebar.gif) 0 0 no-repeat;
    width: 253px;
    float: right;
}

    #sidebar li {
        margin: 0;
        padding: 7px 14px;
    }
    
    #sidebar > li:last-child {
        min-height: 5px;
        background: url(img/sidebar.gif) left bottom no-repeat;
        padding-bottom: 14px;
    }

.sidebar-menu {
    margin: 0 0 0 -13px;
    padding: 0;
    list-style: none;
}        

    #sidebar .sidebar-menu li {
        margin: 0;
        padding: 0;
    }
    
    .sidebar-menu a {
        display: block;
        padding: 4px 4px 4px 14px;
    }
    
    #sidebar .sidebar-menu a.current {
        color: #fff;
        text-decoration: none;
        background-color: #6f6f6f;
    }
    
    
/* Select actions */

.select-actions {
    padding: 4px 6px;
    background-color: #fffde0;
    border: 1px solid #fffcbd;
    display: none; /* JS shows/hide this */
}

    .select-actions a,
    .select-actions a:hover {
        color: #d80019;
        background-color: transparent;
    }
    
    .select-actions span {
        text-align: right;
        float: right;
        position: relative;
        top: -16px;
    }
    
        .select-actions span a,
        .select-actions span a:hover {
            color: #606060;
        }
    
.selected {
    background-color: #fffde0;
}    
    
        
/* List of posts */

#show-posts {
    display: none; /* hide for now */
    position: absolute;
    top: 18px;
    right: 10px;
}

.list-of-posts {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .list-of-posts li {
        border-bottom: 1px solid #e0e0e0;
        padding: 3px 0 5px;
        margin: 0;
        position: relative;
    }
    
    .list-of-posts li:first-child {
        border-top: 1px solid #eee;
    }
    
    .list-of-posts small {
        font-size: 10px;
        color: #535353;
        line-height: 12px;
        margin: 0 0 0 3px;
    }
    
.title-row {
    font-size: 14px;
    display: block;
    margin: 0 0 0 24px;
}

.row-check {
    float: left;
    display: block;
    height: 100%;
}

.row-actions {
    position: absolute;
    background: #fff;
    top: 4px;
    right: 4px;
    display: none;
}

    .list li:hover > .row-actions {
        display: block;
    }

.post-categories {
    color: #535353;
    margin: 1px 0 0 24px;
    font-size: 11px;
}
   
.permalink {
    background: transparent url(img/link.png) 0 0 no-repeat;
    padding-left: 18px;
} 

    .sidebar-menu .permalink {
        padding-left: 31px;
        background-position: 12px 5px;
    }

.paginator {
    margin: 2em 0 1em;
}

    .paginator > div,
    .paginate-prev,
    .paginate-next {
        float: left;
        margin-right: 1.2em;
    }
    
.disabled {
    color: #606060;
}

#posts-feed {
    background: url(img/rss-coffee.png) left 5px no-repeat;
    padding: 5px 0 5px 22px;
    margin-top: -10px;
    display: block;
}

    #wrap #posts-feed:hover {
        color: #c34507;
        background-color: transparent;
        text-decoration: underline;
    }
    
    
/* Post edit */
    
#WildPostTitle {
    font-size: 18px;
    width: 100%;
}

#save-draft,
#save-publish {
    float: left;
    margin-right: 10px;
}

    #save-draft input,
    #save-publish input {
        font-size: 13px;
    }
    
.cancel-edit {
    display: block;
}
    
    .cancel-edit a,
    .cancel-edit a:hover,
    a.cancel,
    a.cancel:hover {
        color: #d80019;
        background-color: transparent;
    }
    
#post-categories,
#post-revisions,
#post-preview {
    display: none;
}

    #post-categories ul {
        margin: 0 0 14px 0;
        padding: 0;
        list-style: none;
    }
    
    #post-preview object {
        width: 100%;
        height: 400px;
        margin: 0 0 14px 0;
        border: 6px solid #fffde0;
    }
    
.back-to-all {
    font-weight: bold;
}


/* Pages */

.pages-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
}

    .pages-list ul {
        list-style: none;
        margin: 0;
        padding-left: 18px;
    }
    
    .pages-list li {
        position: relative;
    }
    

/* Assets */

    #file-upload .file {
        float: left;
    }
    
    #file-upload p {
        clear: both;
    }
    
        #file-upload .submit input {
            margin: 16px 0 0 10px;
            font-size: 13px;
        }
        
        
/* Image browser (image insert) */

#image-browser {
    height: 200px;
}

    #image-browser ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    #image-browser li {
        float: left;
        margin: 0 10px 10px 0;
    }
    
    #image-browser button {
        margin-top: 10px;
    }
    
    #image-browser .selected {
        outline: 4px solid red;
    }