/*
    Wildflower CMS main stylesheet

*/

html,
body {
    margin: 0;
	padding: 0;
}

/* Layout */

html {
	font: 12px/16px "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #003842;
	color: #fff;
}

a {
    color: #e0e0e0;
}

#wrap a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0000ff;
}

img {
    border: none;
}

body {
}

#whiteness {
    background: #fff;
}

#wrap,
#footer,
#header {
    max-width: 1000px;
    min-width: 800px;
    margin: 0 auto;
}

#wrap {
    background: #fff;
    color: #2f2f2f;
    padding: 1px 0 0 0;
}

#footer {
    margin-top: 10px;
}

    #footer a {
        color: #ddd;
    }

    #wrap a {
        color: #0000ff;
        text-decoration: underline;
    }
    
#nav {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
}

    #nav li {
        float: left;
    }
    
    #nav li.nav-accounts,
    #nav li.nav-settings {
        float: right;
    }
    
    #nav a {
        display: block;
        height: 12px;
        margin: 0 4px 0 0;
        padding: 3px 10px 8px 10px;
        background: #e4e4e4;
        color: #1d1d1d;
        text-decoration: none;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }
    
        #nav .current a {
            background-color: #fff;
            font-weight: bold;
        }
    
#header {
    position: relative;
}

    #header h1 {
        font-size: 20px;
        font-weight: normal;
        margin: 20px 10px;
    }
        
        #header h1 a {
            text-decoration: none;
        }

#login-info {
    position: absolute;
    top: -10px;
    right: 9px;
}

#content {
    padding: 25px 25px;
    float: left;
    width: 60%;
}

.cleaner {
    clear: both;
    height: 1px;
    margin-top: -1px;
    display: block;
}

#sidebar {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    background: url(img/sidebar.gif) 0 0 no-repeat;
    width: 267px;
    float: right;
}

    #sidebar li {
        margin: 0;
        padding: 7px 14px;
    }
    
    #sidebar > li:last-child {
        min-height: 5px;
        background: url(img/sidebar.gif) left bottom no-repeat;
        padding-bottom: 14px;
    }
    
    #wrap a.add {
        background: url(img/sidebar-button.png) 0 0 no-repeat;
        height: 40px;
        padding: 0 0 0 0;
        display: inline-block;
        color: #01591e;
        font-size: 14px;
        text-decoration: none;
    }
    
        #wrap a.add span {
            padding: 12px 20px 12px 0;
            margin: 0 0 0 20px;
            display: block;
            background: url(img/sidebar-button.png) top right no-repeat;
        }
        
        
/* Headings */

#wrap h2 {
    font-weight: normal;
    font-size: 17px;
    margin: 18px 0 12px 0;
}
        
        
/* List of posts */

.list-of-posts {
    margin: -6px 0 1em 0;
    padding: 0;
    list-style: none;
}

    .list-of-posts li {
        border-bottom: 1px solid #eee;
        padding: 3px 0;
        margin: 0;
        position: relative;
    }
    
    .list-of-posts li:first-child {
        border-top: 1px solid #eee;
    }
    
    .list-of-posts small {
        font-size: 10px;
        color: #535353;
        line-height: 12px;
        margin: 0 0 0 3px;
    }
    
.title-row {
    font-size: 14px;
    display: block;
    margin: 0 0 0 24px;
}

.row-check {
    float: left;
    display: block;
    height: 100%;
}

.row-actions {
    position: absolute;
    background: #fff;
    top: 4px;
    right: 4px;
    display: none;
}

    .list-of-posts li:hover .row-actions {
        display: block;
    }

.post-categories {
    color: #535353;
    margin: 1px 0 0 24px;
    font-size: 11px;
}
   
.permalink {
    background: #fff url(img/link.png) 0 0 no-repeat;
    padding-left: 18px;
} 

.paginator {
    margin: 2em 0 1em;
}

    .paginator > div,
    .paginate-prev,
    .paginate-next {
        float: left;
        margin-right: 1.2em;
    }
    
.disabled {
    color: #606060;
}