# Cake caches
app/tmp/cache/cake_*
app/tmp/cache/models/cake_*
app/tmp/cache/persistent/cake_*
app/tmp/cache/views/*.php

# Cake logs
app/tmp/logs/*.log

# Wildflower caches
app/tmp/cache/wf_previews/*.json
app/tmp/cache/wf_root_pages
app/tmp/cache/wf_thumbnails/*.jpg

# Wildflower uploaded files
app/webroot/uploads/*

# Ruckusing log file
vendors/ruckusing/logs/development.log

# HTML webroot cache
app/webroot/cache/*

.DS_Store
