[submodule "app/plugins/debug_kit"]
	path = app/plugins/debug_kit
	url = git@github.com:majic3/debug_kit.git
[submodule "app/plugins/interactive"]
	path = app/plugins/interactive
	url = git://github.com/mcurry/interactive.git
