/* ------------------------------- */
/* SITE Structure
/* ------------------------------- */

html 	{ background:#f8f3df url(../../img/kruger/bd-bg.jpg) repeat-x; text-align:center; }
body 	{ text-align: left; font: 13px/18px georgia, 'times new roman', serif; color: #1d1918; margin: 0 auto; width: 920px; }
.clear 	{ clear: both; height: 0; width: 0; line-height: 0; font-size: .1px; }
hr 		{ display: none; height: 0; padding: 0; margin: 0; }
img		{ border: none; }

.web-title		{ float:left; width:500px; margin-bottom:35px; }
.web-title h1 	{ color:#323232; line-height:80px; height:80px !important; }
.web-title h2 	{ color:#7aac49; font-size:30px; line-height:36px; }

.header 				{ background: transparent url(../../img/kruger/desk.png) 662px 117px no-repeat; padding: 50px 0 20px 0;   margin: 0; min-height: 320px !important; position: relative; }
.header ul.topnav		{ padding: 0; margin-top: -25px; float: right; width:auto; list-style: none; text-align:right; }
.header ul.topnav li	{ float:left; margin:0; padding:0; text-transform:uppercase; font-size:15px; width:auto; font-family:Arial, Helvetica, sans-serif; font-weight:bold; }
.header li a 			{ display: block; padding-left:25px; color:#323232; text-decoration:none; }
.header li a:hover 		{ color:#7aac49;  }

h3.intro		{ color:#323232; font-size:30px; line-height:38px; margin-top: 100px; }
p.intro 		{ font-size: 16px; line-height:22px; color:#575656; font-style:italic; padding: 0; margin:0; width:620px; }


.title				{ border-bottom:1px solid #c8c0bf !important; display:block; margin-bottom:10px; }
.title h3			{ font-size:19px; line-height:22px; color:#1d1918; font-weight:bold; float:left; margin:0; padding:0; width:auto; }
.title span			{ font-size:14px; line-height:22px; color:#5b9324; font-style:italic; }


/************************************************************************ CONTAINER */

#container 				{ display:block; width: 920px; min-height: 100%; height: 100%; margin:0 auto 20px auto; padding: 0; text-align: left; }

/* ------------------------------- */
/* LAYOUT
/* ------------------------------- */

/************************************************************************ three_col_wide_right */

div.three_col_wide_left							{ text-align:left;    }
div.three_col_wide_left div.left_column 		{ float: left; width: 430px; margin:0 35px 0 0; padding:0; }
div.three_col_wide_left div.middle_column 		{ float: left; width: 250px; margin:0 35px 0 0; padding:0; }
div.three_col_wide_left div.right_column 		{ float: left; width: 166px; margin:0; padding:0; }


.folio-item				{ float:left; width:203px; margin:0 6px 15px 6px; padding:0; }
.folio-item h4			{ font-size:14px; color:#1d1918; font-weight:bold; margin:0; padding:0; }
.folio-item span.date	{ color:#89867e; font-size:12px; margin-left:4px; font-style:italic; font-weight:normal; }

ul.blog-entries			{ padding: 0; margin-bottom: 15px; list-style: none;}
ul.blog-entries li		{ margin-bottom:10px; padding:0; font-size:12px; color:#89867e;  }
ul.blog-entries li a	{ font-weight:bold; color:#323232; text-decoration:none; display:block; }

/************************************************************************ FOOTER */

.footer 		{ border-bottom:5px solid #DFDBD0; clear:both; color:#A3A2A0; font-family:georgia,serif; font-size:11px; font-style:italic; line-height:16px; margin:0; padding:10px 0; }
.footer a:link, .footer a:visited, p.footer a:active { border-bottom:1px solid #CBD2D8; color:#3A5E8C; text-decoration:none; }
.footer a:hover { border-bottom:1px solid #8CA4B8; color:#203651; text-decoration:none; }
.footer a 		{ border:medium none !important; }
.footer a img 	{ position:relative; top:4px; }
.footer span 	{ color:#E6E3DB; margin:0 10px 0; }

/* Wildflower */

#wildflower_logo {
    background: url('../../css/img/wildflower.png');
    height: 94px;
    width: 409px;
    position: absolute;
    top: 80px;
    left:0px;
}

#wildflower_logo span {
    position: absolute;
    top: -9999em;
}