body {
	font: 14px/18px "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 0 6px;
}


/* Widgets */

.wf_widget {
    background: #eee;
    padding: 20px;
    border: 1px solid #ddd;
}

