<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
 
<IfModule mod_deflate.c>
    # compress content with type html,
    AddOutputFilterByType DEFLATE text/html application/rss+xml
    <IfModule mod_headers.c>
        # properly handle requests coming from behind proxies
        Header append Vary User-Agent
    </IfModule>
</IfModule>