<div id="switcher-bg"></div>
<ul id="switcher">
	<li><a href="${BASE}/${PREFIX}"><img alt="Dashboard" src="${BASE}/img/switcher/dashboard.png" /><span>Dashboard</span></a></li>
	<li><a href="${BASE}/${PREFIX}/pages"><img alt="Dashboard" src="${BASE}/img/switcher/pages.png" /><span>Pages</span></a></li>
	<li><a href="${BASE}/${PREFIX}/posts"><img alt="Dashboard" src="${BASE}/img/switcher/posts.png" /><span>Posts</span></a></li>
	<li><a href="${BASE}/${PREFIX}/comments"><img alt="Dashboard" src="${BASE}/img/switcher/comments.png" /><span>Comments</span></a></li>
	<li><a href="${BASE}/${PREFIX}/messages"><img alt="Messages" src="${BASE}/img/switcher/messages.png" /><span>Messages</span></a></li>
	<li><a href="${BASE}/${PREFIX}/assets"><img alt="Files" src="${BASE}/img/switcher/files.png" /><span>Files</span></a></li>
	<li><a href="${BASE}/${PREFIX}/settings"><img alt="Settings" src="${BASE}/img/switcher/settings.png" /><span>Settings</span></a></li>
</ul>
