<div id="switcher-bg"></div>
<ul id="switcher">
	<li><a href="${BASE}/admin"><img alt="Dashboard" src="${BASE}/img/switcher/dashboard.png" /><span>Dashboard</span></a></li>
	<li><a href="${BASE}/admin/pages"><img alt="Dashboard" src="${BASE}/img/switcher/pages.png" /><span>Pages</span></a></li>
	<li><a href="${BASE}/admin/posts"><img alt="Dashboard" src="${BASE}/img/switcher/posts.png" /><span>Posts</span></a></li>
	<li><a href="${BASE}/admin/comments"><img alt="Dashboard" src="${BASE}/img/switcher/comments.png" /><span>Comments</span></a></li>
	<li><a href="${BASE}/admin/uploads"><img alt="Files" src="${BASE}/img/switcher/files.png" /><span>Files</span></a></li>
	<li><a href="${BASE}/admin/settings"><img alt="Settings" src="${BASE}/img/switcher/settings.png" /><span>Settings</span></a></li>
</ul>
