/* IE6 Fixes  */

html, body {
	display: block;
	height: 1%;
}

#wrap, #header .container {
	margin: 0 auto;
	width: 98%;
}

#header {
	height: 50px;
	padding-bottom: 10px;
	width: auto;
	margin: 0;
	position: relative;
}

#header .container {
	width: auto;
}

#navigation {
	position: absolute;
	bottom: 0;
}

.submit {
	clear: both;
	padding-top: .7em;
	border-top: 1px solid #fff;
	height: auto;
}

	.submit input {
		float: none;
		padding: 0;
		margin-left: 0;
	}
	
.edit-actions {
	position: relative;
	top: -5px;	
}

.checkboxMultiple li {
	padding: 0; margin: 0; height: 1%;
}

.save-message {
	right: 240px;
}
