/* IE7 & 6 Fixes  */

.sidebar-list li a {
	padding-top: 3px;
	padding-bottom: 3px;
}


/* Buttons */

#sub-nav,
#list-toolbar,
#file-toolbar {
    position: relative;
    top: -24px;
    left: -24px;
    margin-bottom: -10px;
}

.post-date {
    width: 70px;
}

