/*
Wildflower CMS main stylesheet

Colors

*/

html,
body {
    margin: 0;
	padding: 0;
}

/* Typography */

html {
	font: 0.88em/1.21 Verdana, Geneva, Arial, Helvetica, sans-serif; /* 14px / 17px */
	color: #363636;
	background: #fff url(img/top-gradiend.gif) 0 0 repeat-x;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
}

h2 {
	font-size: 1.57em; /* 22px */
	margin: 1.3em 0 -0.4em;
}

h3 {
	font-size: 1.36em; /* 19px */
	margin: 1em 0 -0.4em;
}

h4 {
	font-size: 1.21em; /* 17px */
	margin: 1em 0 -0.4em;
}


/* Links */

a {
	color: #0000ff;
	text-decoration: underline;
}
    
	a:hover {
		background-color: #0000ff;
		color: #fff;
		text-decoration: none; 
	}


/* Wrap */

#wrap {
	width: 780px;
	margin: 0 auto;
}


/* Header */

    #header h1 {
    	margin: 0;
    }

		#header h1 a {
			display: block;
			background: url(img/logo.gif) 0 0 no-repeat;
			width: 219px;
			height: 82px;
			margin: 37px auto 0 auto;
		}
	
        #header h1 span, hr {
            display: none;
        }

		
/* Navigation */

#navigation {
	list-style: none;
	margin: 4px 0 30px;
	padding: 0;
	overflow: hidden;
	text-align: center;
	text-transform: lowercase;
}

    #navigation li {
    	display: inline;
		margin-right: 8px;
    }
	
        #navigation .current a {
           text-decoration: none;
		   font-weight: bold;
		   color: #363636;
        }
		
        #navigation .current a:hover {
           color: #363636;
		   background-color: #fff;
        }

		
/* Home page feature list */

#home-feature-list {
	width: 550px;
	margin: 1em auto;
	list-style: none;
	padding: 0;
	font-size: 1.29em; /* 18px */
}

    #home-feature-list li {
    	padding: 0 0 15px 52px;
    }
	
#feature-cake {
	background: url(img/cake-box.gif) 2px 0 no-repeat;
}

#feature-standards {
	background: url(img/xhtml-badge.gif) 0 0 no-repeat;
}

#feature-open-source {
	background: url(img/open-source.gif) 5px 0 no-repeat;
}

.download {
	margin: 1em auto;
	width: 350px;
	font-size: 0.86em; /* 12px */
}

    .download a {
    	display: block;
    	color: #363636;
        background: url(img/download.gif) 0 50% no-repeat;
		text-decoration: none;
		padding: 3px 3px 3px 48px;
    }
	
	.download a:hover {
		background-color: transparent;
		outline: 2px dashed #c4c4c4;
	}

    .download strong {
    	text-transform: uppercase;
		font-size: 1.67em;
    }


/* Footer */

#footer  {
	font-size: 0.86em; /* 12px */
	text-align: center;
	margin: 2em 0 2em;
}

.wf-icon {
	position: relative;
	top: 3px;
}


/* Edit this */

.page {
	position: relative;
}

.edit-this {
	margin: 0;
	background-color: #242424;
	color: #fff;
	font-size: 11px;
	display: inline-block;
	padding: 3px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
    
    .edit-this a {
        color: #fff;
        text-decoration: none;
    }
    
    .edit-this a:hover {
        color: #fff400;
        background-color: transparent;
    }

	
/* Blog */

.post-date {
    margin-top: 1em;
	display: block;
}


/* Comments */

.comment-form {
	margin: 1em 0;
	padding: 0;
}

    .comment-form label {
    	float: left;
		width: 90px;
		text-align: right;
		padding-right: 8px;
		padding-top: 1px;
    }
	
	.comment-form .input {
		overflow: hidden;
		margin-bottom: 6px;
	}

.comments-list {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}


/* Admin bar */

#admin-bar {
	height: 16px;
	font: 11px/12px "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #4b4b4b;
	color: #fff;
	padding: 4px 8px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

    #admin-bar a {
        color: #fff;
        text-decoration: none;
    }
    
    #admin-bar a:hover {
        color: #fff400;
        background-color: transparent;
    }