<div id="name-new-post" class="new-dialog">
    <h2 class="section"><l18n>Create a new post</l18n></h2>
    
    <form action="${action}" method="post">
        <fieldset style="display:none;">
            <input type="hidden" name="_method" value="POST" />
        </fieldset>
        <div class="input title_input">
            <label for="PostTitle">Post Title</label>
            <input id="PostTitle" type="text" size="60" name="data[Post][title]" maxlength="256" />
        </div>
        <div class="submit wf-form-button">
            <input type="submit" value="<l18n>Create this post</l18n>" />
        </div>
        <div class="cancel-edit"> or <a href="#Cancel"><l18n>Cancel</l18n></a></div>
    </form>
    
</div>