/*
Wildflower CMS main stylesheet

Colors

*/

html,
body {
    margin: 0;
	padding: 0;
}

/* Typography */

html {
	font: 0.88em/1.21 "Helvetica Neue", Helvetica, Arial, sans-serif; /* 14px / 17px */
	color: #363636;
	background: #fff url(img/top-gradiend.gif) 0 0 repeat-x;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
}

h2 {
	font-size: 1.57em; /* 22px */
	margin: 1.3em 0 -0.4em;
}

h3 {
	font-size: 1.36em; /* 19px */
	margin: 1em 0 -0.4em;
}

h4 {
	font-size: 1.21em; /* 17px */
	margin: 1em 0 -0.4em;
}

hr {
    display: none;
}


/* Links */

a {
	color: #0000ff;
	text-decoration: underline;
}
    
	a:hover {
		background-color: #0000ff;
		color: #fff;
		text-decoration: none; 
	}
	

/* Main nav */

#nav {
    margin: 2em 0;
    padding: 0;
    list-style: none;
}


/* Wrap */

#wrap {
	width: 780px;
	margin: 0 auto;
}
